# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# vim
.*.sw?

# Test binary, build with `go test -c`
*.test

# vim
.*.sw*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
